/* reset */

* {
    margin: 0;
    padding: 0;
}

/* estilo geral */

html {
    background-image: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1px;
}
.campo {
    border: 1px solid red;
}

.digitos {
    position: relative;
    border: 1px solid red;
    width: 70px;
    height: 155px;
}

/*d1*/
.d1 {
    position: relative;
    left: 10px;
    display: block;
    width: 50px;
    height: 10px;
    background-color: #DDDDDD;
}

.d1:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}

.d1:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 10px 10px 0 0;
    border-color: #DDDDDD transparent transparent transparent;
}
/*d2*/
.d2 {
    top: 3px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d2:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

.d2:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 10px 10px 0 0;
    border-color:#DDDDDD transparent transparent transparent;
}
/*d3*/
.d3 {
    left: 60px;
    bottom: 46px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d3:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d3:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}
/*d4*/
.d4 {
    bottom: 19px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d4:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

.d4:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 10px 10px 0 0;
    border-color: #DDDDDD transparent transparent transparent;
}
/*d5*/
.d5 {
    left: 60px;
    bottom: 69px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d5:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d5:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}
/*d6*/
.d6 {
    position: relative;
    bottom: 138px;
    left: 10px;
    display: block;
    width: 50px;
    height: 10px;
    background: #DDDDDD;
}

.d6:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #DDDDDD transparent transparent;
}

.d6:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #DDDDDD;
}
/*d7*/
.d7 {
    position: relative;
    display: block;
    bottom: 75px;
    left: 10px;
    width: 50px;
    height: 10px;
    background: #DDDDDD;
}

.d7:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d7:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

/* Digito zero */
.zero .d1 {background-color: #262A34;}
.zero .d2 {background-color: #262A34;}
.zero .d3 {background-color: #262A34;}
.zero .d4 {background-color: #262A34;}
.zero .d5 {background-color: #262A34;}
.zero .d7 {background-color: #262A34;}
.zero .d1:before {border-color: transparent #262626 transparent transparent;}
.zero .d1:after {border-color: #262626 transparent transparent transparent;}
.zero .d2:before {border-color: transparent transparent transparent #262626 ;}
.zero .d2:after {border-color: #262626 transparent transparent transparent;}
.zero .d3:before {border-color: transparent transparent #262626 transparent;}
.zero .d3:after {border-color: transparent #262626 transparent transparent;}
.zero .d4:before {border-color: transparent transparent transparent #262626;}
.zero .d4:after {border-color: #262626 transparent transparent transparent;}
.zero .d5:before {border-color: transparent transparent #262626 transparent;}
.zero .d5:after {border-color: transparent #262626 transparent transparent;}
.zero .d7:before {border-color: transparent transparent #262626 transparent;}
.zero .d7:after {border-color: transparent transparent transparent #262626;}

/* Digito um */
.um .d3 {background-color: #262A34;}
.um .d5 {background-color: #262A34;}
.um .d3:before {border-color: transparent transparent #262626 transparent;}
.um .d3:after {border-color: transparent #262626 transparent transparent;}
.um .d5:before {border-color: transparent transparent #262626 transparent;}
.um .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito dois */
.dois .d3 {background-color: #262A34;}
.dois .d5 {background-color: #262A34;}
.dois .d3:before {border-color: transparent transparent #262626 transparent;}
.dois .d3:after {border-color: transparent #262626 transparent transparent;}
.dois .d5:before {border-color: transparent transparent #262626 transparent;}
.dois .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito tres */
.tres .d3 {background-color: #262A34;}
.tres .d5 {background-color: #262A34;}
.tres .d3:before {border-color: transparent transparent #262626 transparent;}
.tres .d3:after {border-color: transparent #262626 transparent transparent;}
.tres .d5:before {border-color: transparent transparent #262626 transparent;}
.tres .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito quatro */
.quatro .d3 {background-color: #262A34;}
.quatro .d5 {background-color: #262A34;}
.quatro .d3:before {border-color: transparent transparent #262626 transparent;}
.quatro .d3:after {border-color: transparent #262626 transparent transparent;}
.quatro .d5:before {border-color: transparent transparent #262626 transparent;}
.quatro .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito cinco */
.cinco .d3 {background-color: #262A34;}
.cinco .d5 {background-color: #262A34;}
.cinco .d3:before {border-color: transparent transparent #262626 transparent;}
.cinco .d3:after {border-color: transparent #262626 transparent transparent;}
.cinco .d5:before {border-color: transparent transparent #262626 transparent;}
.cinco .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito seis */
.seis .d3 {background-color: #262A34;}
.seis .d5 {background-color: #262A34;}
.seis .d3:before {border-color: transparent transparent #262626 transparent;}
.seis .d3:after {border-color: transparent #262626 transparent transparent;}
.seis .d5:before {border-color: transparent transparent #262626 transparent;}
.seis .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito sete */
.sete .d3 {background-color: #262A34;}
.sete .d5 {background-color: #262A34;}
.sete .d3:before {border-color: transparent transparent #262626 transparent;}
.sete .d3:after {border-color: transparent #262626 transparent transparent;}
.sete .d5:before {border-color: transparent transparent #262626 transparent;}
.sete .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito oito */
.oito .d3 {background-color: #262A34;}
.oito .d5 {background-color: #262A34;}
.oito .d3:before {border-color: transparent transparent #262626 transparent;}
.oito .d3:after {border-color: transparent #262626 transparent transparent;}
.oito .d5:before {border-color: transparent transparent #262626 transparent;}
.oito .d5:after {border-color: transparent #262626 transparent transparent;}

/* Digito nove */
.nove .d3 {background-color: #262A34;}
.nove .d5 {background-color: #262A34;}
.nove .d3:before {border-color: transparent transparent #262626 transparent;}
.nove .d3:after {border-color: transparent #262626 transparent transparent;}
.nove .d5:before {border-color: transparent transparent #262626 transparent;}
.nove .d5:after {border-color: transparent #262626 transparent transparent;}
