/* reset */

* {
    margin: 0;
    padding: 0;
}

/* estilo geral */

html {
    background-image: linear-gradient(180deg, #EEEEEE 0%, #FFFFFF 100%);
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -1px;
}
.campo {
    position: relative;
    border: 1px solid red;
    height: 200px;
    width: 300px;
    margin: 50px;
}

.digitos {
    position: relative;
    margin: auto;
    border: 1px solid red;
    height: 200px;
    width: 100px;
    
}

/*d1*/
.d1 {
    position: relative;
    left: 25px;
    display: block;
    width: 50px;
    height: 10px;
    background-color: #DDDDDD;
}

.d1:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}

.d1:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 10px 10px 0 0;
    border-color: #DDDDDD transparent transparent transparent;
}
/*d2*/
.d2 {
    left: 13px;
    top: 3px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d2:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

.d2:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 10px 10px 0 0;
    border-color:#DDDDDD transparent transparent transparent;
}
/*d3*/
.d3 {
    left: 77px;
    bottom: 46px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d3:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d3:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}
/*d4*/
.d4 {
    left: 13px;
    bottom: 19px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d4:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

.d4:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 10px 10px 0 0;
    border-color: #DDDDDD transparent transparent transparent;
}
/*d5*/
.d5 {
    left: 76px;
    bottom: 70px;
    position: relative;
    display: block;
    width: 10px;
    height: 50px;
    background: #DDDDDD;
}

.d5:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    top: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d5:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -10px;
    border-width: 0 10px 10px 0;
    border-color: transparent #DDDDDD transparent transparent;
}
/*d6*/
.d6 {
    position: relative;
    bottom: 138px;
    left: 25px;
    display: block;
    width: 50px;
    height: 10px;
    background: #DDDDDD;
}

.d6:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 5px 10px 5px 0;
    border-color: transparent #DDDDDD transparent transparent;
}

.d6:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #DDDDDD;
}
/*d7*/
.d7 {
    position: relative;
    display: block;
    bottom: 75px;
    left: 25px;
    width: 50px;
    height: 10px;
    background: #DDDDDD;
}

.d7:before {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left: -10px;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #DDDDDD transparent;
}

.d7:after {
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    right: -10px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent #DDDDDD;
}

.um .d3 {
    background-color: #262A34;
}

.um .d5 {
    background-color: #262A34;
}

.um .d3:before {
    border-color: transparent transparent #262626 transparent;
}

.um .d3:after {
    border-color: transparent #262626 transparent transparent;
}

.um .d5:before {
    border-color: transparent transparent #262626 transparent;
}

.um .d5:after {
    border-color: transparent #262626 transparent transparent;
}
